<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
<div class="container">
  <a href="" class="navbar-brand">YT_CRUD Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="search-form">
        <form action={{ path('article_search') }} class="form-inline">
          <input type="text" name="query" placeholder="Szukaj..." class="form-control">
          <input type="submit" value="Szukaj" class="btn btn-primary">
        </form>
      </li>
      <li class="nav-item">
        <a href={{ path('article_list') }} class="nav-link">Lista Artykułów</a>
      </li>
      <li class="nav-item">
        <a href={{ path('new_article') }} class="nav-link">Dodaj Artykuł</a>
      </li>
    </ul>
  </div>
</div>
</nav>
